.workspace-slider {
  -fx-padding: 8 0 8 0;
}

.workspace-slider .track {
  -fx-background-color: #838383;
  -fx-background-radius: 6;
  -fx-pref-height: 6;
}

.workspace-slider .thumb {
  -fx-background-color: #676767;
  -fx-background-radius: 12;
  -fx-effect: dropshadow(gaussian, rgba(15, 23, 42, 0.65), 6, 0, 0, 2);
  -fx-padding: 10;
}

.workspace-slider:disabled .thumb {
  -fx-background-color: #585858;
  -fx-effect: none;
}

.workspace-slider:disabled .track {
  -fx-background-color: #334155;
}

.toolbar {
  -fx-background-color: rgba(73, 73, 73, 0.6);
  -fx-border-color: rgba(15, 23, 42, 0.8);
  -fx-border-width: 0 0 1 0;
}

.workspace-viewer {
  -fx-background-color: rgba(73, 73, 73, 0.6);
}

.control-pane {
  -fx-background-color: rgba(73, 73, 73, 0.6);
  -fx-background-radius: 12;
  -fx-padding: 16;
  -fx-spacing: 12;
}
